.payment-buttons {
  display: block;
}

.bank-payment-image {
  position: relative;
  top: 0;
  height: 70px;
  text-align: center;
}

.bank-payment-name {
  position: relative;
  bottom: 0;
  line-height: 1.5em;
  text-align: center;
}

.payment-button {
  display: block;
  float: left;
  padding: 0.8em;
}